*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to left, rgb(8, 8, 8) , rgb(59, 59, 55))

}

header{
    height:100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;

}

ul li a{
    padding:0 20px;
    text-decoration: none;
    color: lightgreen;
    display: inline-block;
}
li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: beige;
    transition: all .5s;
}
lia:hover::after{
    width: 100%;
}

main{
    display: flex;
    border: 1px solid rgba(39, 39, 39, 0.801);
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

/*.Content-Box{
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    border-color: rgba(0, 29, 32, 0.918);
    height: auto;

}*/

.hero-img{
max-width:100%;
height: auto;

}
.Content-Left{
    width: 30%;
   /* flex: 0 0 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed red;
    */

}

/*.Content-Right{
    margin-top: auto;

}*/

main h1{
    font: size 54px;
    color: aqua;
    text-transform: uppercase;
}

main h2{
    font-size: 25px;
    color: rgb(5, 66, 36);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing:  8px;
}

main p{
    font-size: 14px;
    font-weight: 400;
    color: darkolivegreen;
    line-height: 31.5px;
    margin: 30PX 0;
}
.cta{
    padding: 15px 30px;
    background: rgb(54, 83, 10);
    color: aqua;
    outline: none;
    border: none;
    font-weight: 700px;
    text-transform: uppercase;
    border-radius: 50px;

}

